# Virtual Environments
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# Raw downloads & local temporary caches
data/downloads/
data/processed/
data/sec_cache/

# System / Editor files
.DS_Store
*.swp
*.swo
.vscode/
.idea/
